*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif, Arial;
}

.headers{
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 10px;
  /*background: rgb(128, 237, 128);*/
  padding-top: 15px;
  padding-bottom: 15px;
}

.headers .logo-con{
  width: 20%;
  height: auto;
  background: #fff;
}

.headers .logo-con img{
  width: 20%;
  height: auto;
}

.headers .nav-bar{
  width: 60%;
  height: auto;
}

.headers .nav-bar a{
  text-decoration: none;
  font-size: large;
  font-weight: 900;
  
}

.containers{
  display: flex;
  flex-direction: column;
}

.containers .heading h1{
  margin-top: 30px;
}

.containers .heading h1,p{
  justify-content: center;
  text-align: center;
  align-items: center;
  height: auto;
  line-height: 1;
  margin:0;
}
.services{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.containers .img-btns{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 25px;
}

.containers .img-btns .pass-img{
  width: 50%;
  position: relative;
  height: auto;
  margin-left: 10px;
}

.containers .img-btns .para{
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30%;
  position: absolute;
  margin-left: 900px;
  font-size: large;
  font-weight: 900;
}

.containers .img-btns .btns{
  position: relative;
  padding-top: 20px;
  width: 20%;
  height: auto;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin-top: 400px;
  margin-left: 200px;
}

.btn{
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  outline: none;
  transition: 1s ease;
}

.btn:hover{
  background: rgb(102, 255, 102);
  transform: rotate(360deg);
} 