* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 25px;
}

.nav-bar a {
  text-decoration: none;
}

.pass-con {
  text-align: center;
  padding: 25px;
  background: #f1eeee;
}

.pass-con input {
  margin: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
}

.pass-con button {
  padding: 10px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger !important;
}

.pass-con button:hover {
  background-color: rgb(53, 153, 30);
}
